@use "base/variables" as v;
@use "base/mixin" as m;

.contenido-principal {
  background-color: v.$blanco;
  padding: 5rem 2rem;

  @include m.tablet {
    padding: 10rem;
    margi-top: -10rem;
    position: relative; /* traemos hacia adelante el contenedor */
  }
}
